@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

*{ 
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
}
.main{
    width: 100%;
    padding: 60px 0;
    background: #f1f1f1;
}


header{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    
    /* position: fixed;
    background-color: greenyellow;
    width: 100%;
    margin: 0;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    z-index: 1; */
}
header h1{
    color: #333;
    font-family: montserrat,sans-serif;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}
.border{
    width: 500px;
    height: 4px;
    background: #333;
    margin: 60px auto;
}



div.links{
    
    background-color: #f4f4f4;
    padding: 20px;
}
div.links ul{
    white-space: nowrap;
}
div.links li{
    
    text-align: center;
    width: 33.3%;
    display: inline-block;
    
}
div.links a{
    text-decoration: none;
    color: #5c4949;
    
}
.links button{
    
    background: none;
    color: #4b4b4b;
    width: 240px;
    height: 80px;
    border: 1px solid #338033;
    font-size: 18px;
    border-radius: 4px;
    transition: .6s;
    overflow: hidden;
}
.links button:focus{
    outline: none;
}
.links button:before{
    content:'';
    display: block;
    position: absolute;
    background: rgba(red, green, blue, alpha);
    width: 60px;
    height: 100%;
    left: 0;
    top: 0;
    opacity: .5s;
    filter: blur(30px);
    transform: translateX(-130px) skewX(-15deg);
}

.links button:after{
    content:'';
    display: block;
    position: absolute;
    background: rgba(red, green, blue, alpha);
    width: 30px;
    height: 100%;
    left: 30px;
    top: 0;
    opacity: 0;
    filter: blur(30px);
    transform: translate(-100px) scaleX(-15deg);
}
.links button:hover{
    background: #338033;
    cursor: pointer;
}





.main .gallery{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    margin: 60px 100px;
}
.main .img{ 
    flex: 30%;
    overflow: hidden;
    cursor: pointer;
}
.main .img img{
    width: 100%;
    transition: 0.4s;
    image-resolution: 72;
}

.gallery .img:hover img{
    transform: scale(1.1) rotate(3deg);
}

.instagram{
    text-align: center;
    font-size: 50px;
    font-family: 'Sacramento', cursive;
    
}
.instagram a{
    
    text-decoration: none;
}

.instagram a:hover{
    font-weight: bold;
    text-decoration: underline;
}

@media screen and (max-width:850px){
    .links button{
        display: block;
        width: 100%;
    }
    .main .gallery{
        
        margin: 50px 60px;
    }

}
@media screen and (max-width:650px){
    .border{
        width: 350px;
    }
    .main .gallery{
        
        margin: 40px 40px;
    }
    .instagram{
        font-size: 35px;
    }
}
@media screen and (max-width:450px){
    .border{
        width: 250px;
        
    }
    .main .gallery{
        margin: 10px 10px;
    }
}
@media screen and (max-width:350px){
    div.links li{
        display: block;
        margin: 5px auto;
        
    }
    .main .gallery{
        display: block;
    }
}